/* Define color variables for each color selector */
:root {
    --dark-btn: #333333;
    --light-btn: #ffffff;
    --purple-btn: #E6E6FA;
    --blue-btn: #add8e6;
  }

  /* Define color variables for each theme */
:root[data-theme='dark'] {
    /* Dark theme */
    --main-background-color: #333333;
    --main-text-color: #ffffff;
    --card-background-color: #666666;
}

:root[data-theme='light'] {
    /* Light theme */
    --main-background-color: #f2f2f2;
    --main-text-color: #333333;
    --card-background-color: #ffffff;
}

:root[data-theme='purple'] {
    /* Purple theme */
    --main-background-color: #E6E6FA;
    --main-text-color: #333333;
    --card-background-color: #D9D9FF;
}

:root[data-theme='blue'] {
    /* Blue theme */
    --main-background-color: #add8e6;
    --main-text-color: #333333;
    --card-background-color: #c7e6ff;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
}

h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--main-text-color);
}

.card-body {
    background-color: var(--card-background-color);
    transition: 0.25s ease-in-out;
    font-size: 1.1rem;
    line-height: 1.6;
}

.card-body:hover {
    transform: scale(1.01);
}

.card-body img {
    display: block; 
    margin: 0 auto; 
    width: 50%;
}

.social-links {
    padding: 0;
    list-style-type: none;
    transition: 0.5s ease;
}

.social-links > li {
    display: inline-block;
    padding-right: 5px;
}

.social-links img {
    width: 25px;
    height: 25px;
}

.social-links img:hover {
    transform: scale(1.25);
}

.language-selection {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.language-selection select {
    background-color: transparent;
    border: none;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.theme-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid gray;;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dark-theme-btn {
    background-color: var(--dark-btn);
}

.light-theme-btn {
    background-color: var(--light-btn);
}

.purple-theme-btn {
    background-color: var(--purple-btn);
}

.blue-theme-btn {
    background-color: var(--blue-btn);
}

.theme-selector {
    z-index: 1000; /* Ensure it's above other content */
}